* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', 'Nunito', 'Roboto', sans-serif;
    font-weight: 300;
    color: #F7F7F7
}

.browser-container {
    display: flex;
    height: 710px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    height: 550px;
    width: 370px;
    border-radius: 35px;
    box-shadow: 8px 5px 8px 5px #1C1C1C;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
}

.screen-container {
    height: 110px;
    margin: 10px 10px 8px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#screenText {
    padding-right: 20px;
    font-size: 88px;
    width: 370px;
    text-align: right;
}

#keys {
    height: 460px;
    margin: 0px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin: auto;
}

#num0, #AC {
    grid-column: span 2;
    text-align: left;
    padding-left: 29px;
    border-radius: 200px;
    height: 75px;
    width: 100%;
}

#AC {
    text-align: center;
    padding: 0;
}

button {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border-style: none;
    font-size: 32px;
    font-weight: 400;
    transition: 0.2s all;
}

.dark-grey-btn {
    background-color: #505050;
}

.dark-grey-btn:active {
    background-color: #E0E0E0;
}

.light-grey-btn {
    background-color: #D4D4D2;
    color: #1C1C1C;
}

.light-grey-btn:active {
    background-color: #F7F7F7;
}

.orange-btn {
    background-color: #FF9500;
}

.orange-btn:active {
    background-color: #FCD092;
}

sup {
    font-size: 20px;
    color: #F7F7F7;
    font-weight: 900;
}